* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.box {
  color: white;
  text-align: center;
  font-size: 100px;
  padding: 10px;
  width: 33.33%;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.box1 {
  background: #333;
}
.box2 {
  background: #123456;
}
.box3 {
  background: #ff4;
}
.box4 {
  background: #c34;
}
.box5 {
  background: #333;
}
.box6 {
  background: rgb(22, 5, 119);
}
.box7 {
  background: rgb(201, 16, 16);
}
.box8 {
  background: rgb(55, 12, 211);
}
.box9 {
  background: rgb(207, 14, 165);
}
.box10 {
  background: rgb(79, 175, 14);
}

.container {
  display: flex;
  border: 10px solid gold;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
}
